/*contact.html*/
.contact-form{

    flex-direction: row;
    margin-top: 10px;
    padding: 20px;
    width: 90%;
    background-color: #fff;
    display: inline-flex;
    margin-bottom: 50px;

}
.contact-form form {

    margin: auto;
    width: 500px;
    height: 370px;
    display: grid;
    gap: 10px;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.buttons-container {

    display: inline-flex;

}

.contact-form button {
    margin: auto;
    width: 45%;
    background-color: #35295f;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}


/* Ajuste geral para dispositivos móveis */
@media (max-width: 768px) {
    .contact-form form {
        width: 100%;
        padding: 10px;
    }
}
/* Ajuste específico para telas muito pequenas (por exemplo, telefones em modo retrato) */
@media (max-width: 480px) {

    .contact-form form {
        width: 100%;
        height: auto;
    }
}