/* Estilo para a seção de educação e habilidades autodidatas */
.education, .self-taught-skills {
    flex-direction: row; /* Alinha os itens em linha horizontal */
    padding: 20px; /* Adiciona espaçamento interno */
    width: 90%; /* Ocupa 90% da largura do contêiner pai */
    background-color: #fff; /* Fundo branco */
    display: inline-flex; /* Itens alinhados em linha com flexbox */
}

/* Contêiner principal para a seção de educação */
.about-education-container {
    width: 100%; /* Ocupa toda a largura */
    text-align: center; /* Centraliza o texto */
    background-color: #fff; /* Fundo branco */
}

/* Contêiner para imagens relacionadas à educação */
.education-img-container {
    align-content: center; /* Centraliza o conteúdo verticalmente */
    justify-items: center; /* Centraliza os itens horizontalmente */
}

/* Estilo para tabelas */
table {
    border-collapse: collapse; /* Remove os espaços entre as bordas da tabela */
}

/* Adiciona bordas a tabelas, cabeçalhos e células */
table, th, td {
    border: 1px solid #fff; /* Cor branca para as bordas */
}

/* Estilo para células de tabela (cabeçalhos e dados) */
th, td {
    padding: 10px; /* Adiciona espaçamento interno */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo para os cabeçalhos da tabela */
th {
    color: #fff; /* Texto branco */
    background-color: #5f4f97; /* Fundo roxo escuro */
}

/* Estilo para as células de dados da tabela */
td {
    background-color: #cccccc; /* Fundo cinza claro */
}

/* Estilo padrão para os botões */
button {
    background-color: #35295f; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    padding: 10px 15px; /* Espaçamento interno vertical e horizontal */
    border: none; /* Remove borda */
    cursor: pointer; /* Mostra o ponteiro ao passar o mouse */
}

/* Efeito de hover nos botões */
button:hover {
    background-color: #45a049; /* Muda a cor de fundo ao passar o mouse */
}

/* Ajustes específicos para telas pequenas (por exemplo, telefones em modo retrato) */
@media (max-width: 480px) {

    /* Reduz o tamanho da fonte e ajusta margens para tabelas em dispositivos menores */
    table {
        font-size: 11px; /* Diminui o tamanho da fonte */
        margin-left: -8px; /* Ajusta a margem para centralizar melhor */
    }

    /* Ajusta as imagens dentro do contêiner de educação para telas menores */
    .education-img-container img {
        margin: 20px; /* Espaçamento ao redor das imagens */
        width: 300px; /* Define a largura máxima das imagens */
    }

    /* Muda a direção dos itens dentro da seção de educação para coluna */
    .education {
        flex-direction: column-reverse; /* Exibe os itens na ordem inversa e vertical */
    }
}
