html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso garante que o padding e border não afetem a largura e altura */
}

body {
    font-family: Arial, sans-serif;
    background-color: #5f4f97;
    text-align: center;
}

header {
    text-align: right;
    color: #fff;
    padding: 20px;
    position: relative;
}
main {
    margin: 0;
    width: 100%;
}

.divisor {

    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;

}

.aboutme-container {
    
    text-align: center;
    background-color: #fff;

}

footer {
    border: 0;
    padding: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    z-index: 3;
    position: relative;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*Estilos compartilhados*/
/*headers/about/education/contact*/
.education, .self-taught-skills,.project-container {
    flex-direction: row;
    padding: 20px;
    width: 90%;
    background-color: #fff;
    display: inline-flex;
}

.header-container {

    text-align: left;
    width: 90%;
    padding: 10px;
    color: #fff;
    
}
.text-container{
    
    text-align: left;
    width: 50%;

}
/* Estilo opcional para melhorar a experiência de usuário no textarea*/
input:focus,
textarea:focus {
    border: 2px solid #4caf50;
    outline: none;
}
/* Ajuste geral para dispositivos móveis */
@media (max-width: 768px) {

    .project-container {
        flex-direction:column-reverse;
        align-items: center;
    }

    .text-container,
    .img-container,
    .card {
        
        width: 100%;
    }

    .img-container img,
    .card img {
        width: 100%;
        height: auto;
    }

    .divisor,
    .aboutme-container,
    .project-text-containe {
        width: 100%;
        padding: 10px;
    }

    footer {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}

/* Ajuste específico para telas muito pequenas (por exemplo, telefones em modo retrato) */
@media (max-width: 480px) {
    .contact-form form {
        width: 100%;
        height: auto;
    }
}
/* Estilos básicos para o botão hambúrguer */
.hamburger {
    text-align: right;
    display: none; /* Será exibido em telas menores via @media */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Estilo padrão para o menu */
.nav-menu {

    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
}

.nav-menu a {
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
}
.nav-menu a:hover {
    text-decoration: none;
    background-color: #35295f;
}

/* Exibe o menu quando o botão hambúrguer é clicado */
.nav-menu.active {
    display: flex;
}

/* Ajuste os estilos para o modo desktop */
@media (min-width: 769px) {
    .hamburger {
        display: none; /* Esconde o ícone hambúrguer em telas maiores */
    }

    .nav-menu {
        
        display: inline-flex;
        flex-direction: row;
        background-color: transparent;
        position: static;
        width: auto;
    }

    .nav-menu a {
        padding: 20px;
        color: #fff;
        text-decoration: none;
    }
}

/* Mostra o botão hambúrguer no modo mobile */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Mostra o botão hambúrguer em telas menores */
    }

    .nav-menu {
        display: none; /* O menu só aparece quando o botão é clicado */
        background-color: #333;
    }

    .nav-menu.active {
        display: flex; /* Exibe o menu quando ativado */
        flex-direction: column;
    }
}


